/****** Object:  Table [dbo].[PeriodicItem]    Script Date: 08/09/2023 00:00:01 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[PeriodicItem](
	[ItemSerial] [int] NOT NULL,
	[Time] [int] NULL,
 CONSTRAINT [PK_PeriodicItem] PRIMARY KEY CLUSTERED 
(
	[ItemSerial] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[warehouse]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[warehouse](
	[AccountID] [varchar](10) NOT NULL,
	[Items] [varbinary](1920) NULL,
	[Money] [int] NULL,
	[EndUseDate] [smalldatetime] NULL,
	[DbVersion] [tinyint] NULL,
	[pw] [smallint] NULL,
 CONSTRAINT [PK_warehouse] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ResetData]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ResetData](
	[Account] [varchar](10) NOT NULL,
	[Name] [varchar](10) NOT NULL,
	[ResetDay] [int] NOT NULL,
	[ResetWek] [int] NOT NULL,
	[ResetMon] [int] NOT NULL,
	[ResetDateDay] [smalldatetime] NOT NULL,
	[ResetDateWek] [smalldatetime] NOT NULL,
	[ResetDateMon] [smalldatetime] NOT NULL,
	[MasterResetDay] [int] NOT NULL,
	[MasterResetWek] [int] NOT NULL,
	[MasterResetMon] [int] NOT NULL,
	[MasterResetDateDay] [smalldatetime] NOT NULL,
	[MasterResetDateWek] [smalldatetime] NOT NULL,
	[MasterResetDateMon] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RankingDevilSquare]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RankingDevilSquare](
	[Name] [varchar](10) NOT NULL,
	[Score] [int] NULL,
 CONSTRAINT [PK_RankingDevilSquare] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RankingBloodCastle]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RankingBloodCastle](
	[Name] [varchar](10) NOT NULL,
	[Score] [int] NULL,
 CONSTRAINT [PK_RankingBloodCastle] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OptionData]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OptionData](
	[Name] [varchar](10) NOT NULL,
	[SkillKey] [binary](10) NULL,
	[GameOption] [tinyint] NULL,
	[Qkey] [tinyint] NULL,
	[Wkey] [tinyint] NULL,
	[Ekey] [tinyint] NULL,
	[ChatWindow] [tinyint] NULL,
 CONSTRAINT [PK_OptionData] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEMB_STAT]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMB_STAT](
	[memb___id] [varchar](10) NOT NULL,
	[ConnectStat] [tinyint] NULL,
	[ServerName] [varchar](50) NULL,
	[IP] [varchar](15) NULL,
	[ConnectTM] [smalldatetime] NULL,
	[DisConnectTM] [smalldatetime] NULL,
	[OnlineHours] [int] NULL,
 CONSTRAINT [PK_MEMB_STAT] PRIMARY KEY CLUSTERED 
(
	[memb___id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEMB_INFO]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEMB_INFO](
	[memb_guid] [int] IDENTITY(1,1) NOT NULL,
	[memb___id] [varchar](10) NOT NULL,
	[memb__pwd] [varchar](10) NOT NULL,
	[memb_name] [varchar](10) NOT NULL,
	[sno__numb] [char](18) NOT NULL,
	[post_code] [char](6) NULL,
	[addr_info] [varchar](50) NULL,
	[addr_deta] [varchar](50) NULL,
	[tel__numb] [varchar](20) NULL,
	[phon_numb] [varchar](15) NULL,
	[mail_addr] [varchar](50) NULL,
	[fpas_ques] [varchar](50) NULL,
	[fpas_answ] [varchar](50) NULL,
	[job__code] [char](2) NULL,
	[appl_days] [datetime] NULL,
	[modi_days] [datetime] NULL,
	[out__days] [datetime] NULL,
	[true_days] [datetime] NULL,
	[mail_chek] [char](1) NULL,
	[bloc_code] [char](1) NOT NULL,
	[ctl1_code] [char](1) NOT NULL,
	[AccountLevel] [int] NOT NULL,
	[AccountExpireDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_MEMB_INFO_1] PRIMARY KEY NONCLUSTERED 
(
	[memb_guid] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MEMB_INFO] ON
INSERT [dbo].[MEMB_INFO] ([memb_guid], [memb___id], [memb__pwd], [memb_name], [sno__numb], [post_code], [addr_info], [addr_deta], [tel__numb], [phon_numb], [mail_addr], [fpas_ques], [fpas_answ], [job__code], [appl_days], [modi_days], [out__days], [true_days], [mail_chek], [bloc_code], [ctl1_code], [AccountLevel], [AccountExpireDate]) VALUES (2, N'test', N'test', N'SSeMU', N'0                 ', N'1     ', NULL, NULL, NULL, NULL, N'test@ssemu.com', N'question', N'answer', NULL, NULL, NULL, NULL, NULL, N'0', N'0', N'0', 0, CAST(0x00000000 AS SmallDateTime))
INSERT [dbo].[MEMB_INFO] ([memb_guid], [memb___id], [memb__pwd], [memb_name], [sno__numb], [post_code], [addr_info], [addr_deta], [tel__numb], [phon_numb], [mail_addr], [fpas_ques], [fpas_answ], [job__code], [appl_days], [modi_days], [out__days], [true_days], [mail_chek], [bloc_code], [ctl1_code], [AccountLevel], [AccountExpireDate]) VALUES (1, N'admin', N'admin', N'SSeMU', N'0                 ', N'1     ', NULL, NULL, NULL, NULL, N'admin@ssemu.com', N'question', N'answer', NULL, NULL, NULL, NULL, NULL, N'0', N'0', N'0', 0, CAST(0x00000000 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[MEMB_INFO] OFF
/****** Object:  Table [dbo].[GuildMember]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GuildMember](
	[Name] [varchar](10) NOT NULL,
	[G_Name] [varchar](8) NOT NULL,
 CONSTRAINT [PK_GuildMember] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Guild]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Guild](
	[G_Name] [varchar](8) NOT NULL,
	[G_Mark] [varbinary](32) NULL,
	[G_Score] [int] NULL,
	[G_Master] [varchar](10) NULL,
	[G_Notice] [varchar](60) NULL,
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[MemberCount] [int] NULL,
 CONSTRAINT [PK_Guild] PRIMARY KEY CLUSTERED 
(
	[G_Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GameServerInfo]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameServerInfo](
	[Number] [int] NOT NULL,
	[ItemCount] [int] NOT NULL,
	[ZenCount] [int] NULL,
	[AceItemCount] [int] NULL,
 CONSTRAINT [PK_GameServerInfo] PRIMARY KEY NONCLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExtWarehouse]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExtWarehouse](
	[AccountID] [varchar](10) NOT NULL,
	[Items] [varbinary](1920) NULL,
	[Money] [int] NULL,
	[Number] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventGoldenArcher]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventGoldenArcher](
	[Account] [varchar](10) NOT NULL,
	[RenaCount] [int] NOT NULL,
	[StoneCount] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventEntryCount]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventEntryCount](
	[Account] [varchar](10) NOT NULL,
	[Name] [varchar](10) NOT NULL,
	[BCCount] [int] NOT NULL,
	[CCCount] [int] NOT NULL,
	[DSCount] [int] NOT NULL,
	[LastDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DefaultClassType]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DefaultClassType](
	[Class] [tinyint] NOT NULL,
	[Level] [smallint] NULL,
	[LevelUpPoint] [smallint] NULL,
	[Strength] [smallint] NULL,
	[Dexterity] [smallint] NULL,
	[Vitality] [smallint] NULL,
	[Energy] [smallint] NULL,
	[Inventory] [varbinary](1728) NULL,
	[MagicList] [varbinary](180) NULL,
	[Life] [real] NULL,
	[MaxLife] [real] NULL,
	[Mana] [real] NULL,
	[MaxMana] [real] NULL,
	[MapNumber] [smallint] NULL,
	[MapPosX] [smallint] NULL,
	[MapPosY] [smallint] NULL,
	[Quest] [varbinary](50) NULL,
	[DbVersion] [tinyint] NULL,
	[EffectList] [varbinary](208) NULL,
 CONSTRAINT [PK_DefaultClassType] PRIMARY KEY CLUSTERED 
(
	[Class] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomPick]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomPick](
	[Name] [varchar](10) NOT NULL,
	[CustomPickList] [varbinary](400) NULL,
	[Money] [int] NOT NULL,
	[Jewel] [int] NOT NULL,
	[ItemExc] [int] NOT NULL,
	[ItemSet] [int] NOT NULL,
 CONSTRAINT [PK_CustomPick] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Character]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Character](
	[AccountID] [varchar](10) NOT NULL,
	[Name] [varchar](10) NOT NULL,
	[cLevel] [int] NULL,
	[LevelUpPoint] [int] NULL,
	[Class] [tinyint] NULL,
	[Experience] [int] NULL,
	[Strength] [int] NULL,
	[Dexterity] [int] NULL,
	[Vitality] [int] NULL,
	[Energy] [int] NULL,
	[Inventory] [varbinary](1728) NULL,
	[MagicList] [varbinary](180) NULL,
	[Money] [int] NULL,
	[Life] [real] NULL,
	[MaxLife] [real] NULL,
	[Mana] [real] NULL,
	[MaxMana] [real] NULL,
	[BP] [real] NULL,
	[MaxBP] [real] NULL,
	[MapNumber] [smallint] NULL,
	[MapPosX] [smallint] NULL,
	[MapPosY] [smallint] NULL,
	[MapDir] [tinyint] NULL,
	[PkCount] [int] NULL,
	[PkLevel] [int] NULL,
	[PkTime] [int] NULL,
	[MDate] [smalldatetime] NULL,
	[LDate] [smalldatetime] NULL,
	[CtlCode] [tinyint] NULL,
	[DbVersion] [tinyint] NULL,
	[Quest] [varbinary](50) NULL,
	[ChatLimitTime] [int] NULL,
	[FruitPoint] [int] NULL,
	[EffectList] [varbinary](208) NULL,
	[FruitAddPoint] [int] NOT NULL,
	[FruitSubPoint] [int] NOT NULL,
	[ResetCount] [int] NOT NULL,
	[MasterResetCount] [int] NOT NULL,
 CONSTRAINT [PK_Character] PRIMARY KEY NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccountCharacter]    Script Date: 04/14/2022 14:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountCharacter](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NOT NULL,
	[GameID1] [varchar](10) NULL,
	[GameID2] [varchar](10) NULL,
	[GameID3] [varchar](10) NULL,
	[GameID4] [varchar](10) NULL,
	[GameID5] [varchar](10) NULL,
	[GameIDC] [varchar](10) NULL,
	[MoveCnt] [tinyint] NULL,
	[ExtClass] [int] NOT NULL,
	[Locked] [int] NOT NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_AccountCharacter] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[WZ_CreateCharacter_GetVersion]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WZ_CreateCharacter_GetVersion]
AS
BEGIN
	SELECT 1
End
GO
/****** Object:  StoredProcedure [dbo].[WZ_Get_DBID]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[WZ_Get_DBID]
 

as
/*begin
select * from WZ_CreateCharacter_Version
end*/
BEGIN
	SELECT 1 as Version
End
GO
/****** Object:  StoredProcedure [dbo].[WZ_DISCONNECT_MEMB]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Definition for stored procedure WZ_DISCONNECT_MEMB : 
--

CREATE PROCEDURE [dbo].[WZ_DISCONNECT_MEMB]
@memb___id varchar(10)
 AS
Begin	
set nocount on
	Declare  @find_id varchar(10)	
	Declare @ConnectStat tinyint
	Set @ConnectStat = 0		-- ?? ?? ? 1 = ??, 0 = ??X
	Set @find_id = 'NOT'
	select @find_id = S.memb___id from MEMB_STAT S INNER JOIN MEMB_INFO I ON S.memb___id = I.memb___id 
	       where I.memb___id = @memb___id

	IF (@find_id <> 'NOT')
	BEGIN
		UPDATE MEMB_STAT
		SET ConnectStat = @ConnectStat, DisConnectTM = GETDATE(), OnlineHours = OnlineHours+(DATEDIFF(hour,ConnectTM,GETDATE()))
		WHERE memb___id = @memb___id
	END
end
GO
/****** Object:  StoredProcedure [dbo].[WZ_DeleteCharacter]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_DeleteCharacter] 
@Account varchar(10),
@Name varchar(10)
AS
BEGIN

SET NOCOUNT ON
SET	XACT_ABORT ON

DECLARE @Result tinyint

SET @Result = 0

If NOT EXISTS ( SELECT  Name  FROM  Character WHERE Name = @Name )
	begin
		SET @Result	= 0
	end
else
	begin
		SET @Result = 1
		DELETE FROM Character WHERE AccountID = @Account AND Name= @Name
		DELETE FROM OptionData WHERE Name = @Name
		DELETE FROM RankingBloodCastle WHERE Name = @Name
		DELETE FROM RankingDevilSquare WHERE Name = @Name
		DELETE FROM ResetData WHERE Name = @Name
		DELETE FROM EventEntryCount WHERE Name = @Name
	end

SELECT @Result

SET NOCOUNT OFF
SET	XACT_ABORT OFF

END
GO
/****** Object:  StoredProcedure [dbo].[WZ_CreateCharacter]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE Procedure [dbo].[WZ_CreateCharacter] 
	@AccountID		varchar(10),		--// °èÁ¤ Á¤º¸ 
	@Name			varchar(10),		--// Ä³¸¯ÅÍ 
	@Class			tinyint			--// Class Type
AS
Begin

	SET NOCOUNT ON
	SET	XACT_ABORT ON
	DECLARE		@Result		tinyint

	--//  °á°ú°ª ÃÊ±âÈ­ 
	SET @Result = 0x00	

	--====================================================================================
	--	 Ä³¸¯ÅÍ Á¸Àç¿©ºÎ È®ÀÎ 
	--====================================================================================
	If EXISTS ( SELECT  Name  FROM  Character WHERE Name = @Name )
	begin
		SET @Result	= 0x01				--// µ¿ÀÏ Ä³¸¯ÅÍ¸í Á¸Àç 						
		GOTO ProcEnd						
	end 

	BEGIN TRAN
	--====================================================================================
	--	 °èÁ¤ Á¸Àç ¿©ºÎ È®ÀÎ  ¹× ºó ½½·Ô Á¤º¸ È®ÀÎÇÏ¿© ÀúÀå 		
	--====================================================================================
	If NOT EXISTS ( SELECT  Id  FROM  AccountCharacter WHERE Id = @AccountID )
		begin
			INSERT INTO dbo.AccountCharacter(Id, GameID1, GameID2, GameID3, GameID4, GameID5, GameIDC) 
			VALUES(@AccountID, @Name, NULL, NULL, NULL, NULL, NULL)

			SET @Result  = @@Error
		end 
	else
		begin
			--// Ä³¸¯ÅÍ ºó ½½·Ô ¼³Á¤ 
			Declare @g1 varchar(10), @g2 varchar(10), @g3 varchar(10), @g4 varchar(10), @g5 varchar(10)						
			SELECT @g1=GameID1, @g2=GameID2, @g3=GameID3, @g4=GameID4, @g5=GameID5 FROM dbo.AccountCharacter Where Id = @AccountID 			

			if( ( @g1 Is NULL) OR (Len(@g1) = 0))
				begin
					UPDATE AccountCharacter SET  GameID1 = @Name
					WHERE Id = @AccountID
										
					SET @Result  = @@Error
				end 
			else	 if( @g2  Is NULL OR Len(@g2) = 0)
				begin
					UPDATE AccountCharacter SET  GameID2 = @Name
					WHERE Id = @AccountID

					SET @Result  = @@Error
				end 
			else	 if( @g3  Is NULL OR Len(@g3) = 0)
				begin			
					UPDATE AccountCharacter SET  GameID3 = @Name
					WHERE Id = @AccountID

					SET @Result  = @@Error
				end 
			else	 if( @g4 Is NULL OR Len(@g4) = 0)
				begin
					UPDATE AccountCharacter SET  GameID4 = @Name
					WHERE Id = @AccountID

					SET @Result  = @@Error
				end 
			else	 if( @g5 Is NULL OR Len(@g5) = 0)
				begin
					UPDATE AccountCharacter SET  GameID5 = @Name
					WHERE Id = @AccountID

					SET @Result  = @@Error
				end 		
			else 
				--// ÇØ´ç ºó ½½·Ô Á¤º¸°¡ Á¸Àç ÇÏÁö ¾Ê´Ù. 	
				begin					
					SET @Result	= 0x03							
					GOTO TranProcEnd								
				end 			 
		end 

	
	

	--====================================================================================
	--	 Ä³¸¯ÅÍ Á¤º¸ ÀúÀå 
	--====================================================================================
	if( @Result <> 0 )
		begin
			GOTO TranProcEnd		
		end 
	else
		begin
			INSERT INTO dbo.Character(AccountID, Name, cLevel, LevelUpPoint, Class, Strength, Dexterity, Vitality, Energy, Inventory, MagicList, Life, MaxLife, Mana, MaxMana, BP, MaxBP, MapNumber, MapPosX, MapPosY, MDate, LDate, Quest, DbVersion, EffectList )
			SELECT @AccountID As AccountID, @Name As Name, Level, LevelUpPoint, @Class As Class, 
				Strength, Dexterity, Vitality, Energy, Inventory, MagicList, Life, MaxLife, Mana, MaxMana, 0, 0, MapNumber, MapPosX, MapPosY,
				getdate() As MDate, getdate() As LDate, Quest, DbVersion, EffectList
			FROM  DefaultClassType WHERE Class = @Class				

			SET @Result = @@Error
		end 

TranProcEnd:	-- GOTO
	IF ( @Result  <> 0 )
		ROLLBACK TRAN
	ELSE
		COMMIT	TRAN

ProcEnd:
	SET NOCOUNT OFF
	SET	XACT_ABORT OFF

	--====================================================================================
	--  °á°ú°ª ¹ÝÈ¯ Ã³¸® 
	-- 0x00 : Ä³¸¯ÅÍ Á¸Àç, 0x01 : ¼º°ø¿Ï·á, 0x02 : Ä³¸¯ÅÍ »ý¼º ½ÇÆÐ , 0x03 : ºó½½·Ô Á¸ÀçÇÏÁö ¾Ê´Â´Ù   
	--====================================================================================
	SELECT
	   CASE @Result
	      WHEN 0x00 THEN 0x01		--// ¼º°ø ¹ÝÈ¯ 
	      WHEN 0x01 THEN 0x00		--// Ä³¸¯ÅÍ Á¸Àç 
	      WHEN 0x03 THEN 0x03		--// ºó½½·ÔÀÌ Á¸ÀçÇÏÁö ¾Ê´Â´Ù. 
	      ELSE 0x02				--// ±âÅ¸ ¿¡·¯ÄÚµå´Â »ý¼º »øÆÐ ¹ÝÈ¯  
	   END AS Result 
End
GO
/****** Object:  StoredProcedure [dbo].[WZ_CONNECT_MEMB]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Definition for stored procedure WZ_CONNECT_MEMB : 
--

CREATE PROCEDURE [dbo].[WZ_CONNECT_MEMB]
@memb___id varchar(10),
@ServerName  varchar(50),
@IP varchar(20)	
 AS
Begin	
set nocount on
	Declare  @find_id varchar(10)	
	Declare  @ConnectStat tinyint
	Set @find_id = 'NOT'
	Set @ConnectStat = 1		-- ?? ?? ? 1 = ??, 0 = ??X

	select @find_id = S.memb___id from MEMB_STAT S INNER JOIN MEMB_INFO I ON S.memb___id = I.memb___id 
	       where I.memb___id = @memb___id

	if( @find_id = 'NOT' )
	begin		
		insert into MEMB_STAT (memb___id,ConnectStat,ServerName,IP,ConnectTM)
		values(@memb___id,  @ConnectStat, @ServerName, @IP, getdate())
	end
	else		
		update MEMB_STAT set ConnectStat = @ConnectStat,
					 ServerName = @ServerName,IP = @IP,
					 ConnectTM = getdate()
       	 where memb___id = @memb___id
end
GO
/****** Object:  StoredProcedure [dbo].[WZ_BanCharacter]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_BanCharacter] 
@Name varchar(10),
@CtlCode int
AS
BEGIN

SET NOCOUNT ON
SET	XACT_ABORT ON

DECLARE @Result tinyint

SET @Result = 0

If EXISTS ( SELECT Name FROM Character WHERE Name = @Name )
	begin
		SET @Result	= 1
		UPDATE Character SET CtlCode = @CtlCode WHERE Name = @Name
	end
else
	begin
		SET @Result = 0
	end

SELECT @Result

SET NOCOUNT OFF
SET	XACT_ABORT OFF

END
GO
/****** Object:  StoredProcedure [dbo].[WZ_BanAccount]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_BanAccount] 
@Account varchar(10),
@BlocCode int
AS
BEGIN

SET NOCOUNT ON
SET	XACT_ABORT ON

DECLARE @Result tinyint

SET @Result = 0

If EXISTS ( SELECT memb___id FROM MEMB_INFO WHERE memb___id = @Account )
	begin
		SET @Result	= 1
		UPDATE MEMB_INFO SET bloc_code = @BlocCode WHERE memb___id = @Account
	end
else
	begin
		SET @Result = 0
	end

SELECT @Result

SET NOCOUNT OFF
SET	XACT_ABORT OFF

END
GO
/****** Object:  StoredProcedure [dbo].[WZ_SetResetInfo]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_SetResetInfo] 
@Account varchar(10),
@Name varchar(10),
@Reset int,
@ResetDay int,
@ResetWek int,
@ResetMon int
AS
BEGIN

SET NOCOUNT ON
SET XACT_ABORT ON

DECLARE @ResetDateDay smalldatetime
DECLARE @ResetDateWek smalldatetime
DECLARE @ResetDateMon smalldatetime

IF NOT EXISTS ( SELECT * FROM ResetData  WITH (READUNCOMMITTED) WHERE Account=@Account AND Name=@Name)
BEGIN
	INSERT INTO ResetData (Account,Name) VALUES (@Account,@Name)
END

SELECT @ResetDateDay=ResetDateDay,@ResetDateWek=ResetDateWek,@ResetDateMon=ResetDateMon FROM ResetData WHERE Account=@Account AND Name=@Name

IF(datediff(day,@ResetDateDay,getdate()) > 0)
BEGIN
    UPDATE ResetData SET ResetDateDay=GETDATE() WHERE Account=@Account AND Name=@Name
END

IF(datediff(week,@ResetDateWek,getdate()) > 0)
BEGIN
    UPDATE ResetData SET ResetDateWek=GETDATE() WHERE Account=@Account AND Name=@Name
END

IF(datediff(month,@ResetDateMon,getdate()) > 0)
BEGIN
    UPDATE ResetData SET ResetDateMon=GETDATE() WHERE Account=@Account AND Name=@Name
END

UPDATE Character SET ResetCount=@Reset WHERE AccountID=@Account AND Name=@Name

UPDATE ResetData SET ResetDay=@ResetDay,ResetWek=@ResetWek,ResetMon=@ResetMon WHERE Account=@Account AND Name=@Name

SET NOCOUNT OFF
SET XACT_ABORT OFF

END
GO
/****** Object:  StoredProcedure [dbo].[WZ_SetMasterResetInfo]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_SetMasterResetInfo] 
@Account varchar(10),
@Name varchar(10),
@Reset int,
@MasterReset int,
@MasterResetDay int,
@MasterResetWek int,
@MasterResetMon int
AS
BEGIN

SET NOCOUNT ON
SET XACT_ABORT ON

DECLARE @MasterResetDateDay smalldatetime
DECLARE @MasterResetDateWek smalldatetime
DECLARE @MasterResetDateMon smalldatetime

IF NOT EXISTS ( SELECT * FROM ResetData  WITH (READUNCOMMITTED) WHERE Account=@Account AND Name=@Name)
BEGIN
	INSERT INTO ResetData (Account,Name) VALUES (@Account,@Name)
END

SELECT @MasterResetDateDay=MasterResetDateDay,@MasterResetDateWek=MasterResetDateWek,@MasterResetDateMon=MasterResetDateMon FROM ResetData WHERE Account=@Account AND Name=@Name

IF(datediff(day,@MasterResetDateDay,getdate()) > 0)
BEGIN
    UPDATE ResetData SET MasterResetDateDay=GETDATE() WHERE Account=@Account AND Name=@Name
END

IF(datediff(week,@MasterResetDateWek,getdate()) > 0)
BEGIN
    UPDATE ResetData SET MasterResetDateWek=GETDATE() WHERE Account=@Account AND Name=@Name
END

IF(datediff(month,@MasterResetDateMon,getdate()) > 0)
BEGIN
    UPDATE ResetData SET MasterResetDateMon=GETDATE() WHERE Account=@Account AND Name=@Name
END

UPDATE Character SET ResetCount=@Reset,MasterResetCount=@MasterReset WHERE AccountID=@Account AND Name=@Name

UPDATE ResetData SET MasterResetDay=@MasterResetDay,MasterResetWek=@MasterResetWek,MasterResetMon=@MasterResetMon WHERE Account=@Account AND Name=@Name

SET NOCOUNT OFF
SET XACT_ABORT OFF

END
GO
/****** Object:  StoredProcedure [dbo].[WZ_SetGuildDelete]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Definition for stored procedure WZ_SetGuildDelete : 
--

CREATE PROCEDURE  [dbo].[WZ_SetGuildDelete]
	@GuildName		varchar(10)
As
Begin
	SET NOCOUNT ON
	Declare		@Result		int
	Set @Result	= 1 

	Begin Transaction									
		--// Guild member db delete
		DELETE GuildMember WHERE G_Name = @GuildName		
		If @@Error <> 0 
		begin			
			Set @Result	= 0 -- DB Error 
			goto PROBLEM	
		end

		--// Guild  Main DB? ??
		DELETE Guild WHERE G_Name = @GuildName		
		If @@Error <> 0 
			begin
				Set @Result	= 0  --  DB Error
				goto PROBLEM	
			end	
		else goto SUCESS

	PROBLEM:
		rollback transaction
 
	SUCESS:
   		commit transaction		
				
	-- ??? RETURN
	SELECT @Result  As Result
	SET NOCOUNT OFF
End
GO
/****** Object:  StoredProcedure [dbo].[WZ_SetEventEntryInfo]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_SetEventEntryInfo]
@Account varchar(10),
@Name varchar(10),
@BCCount int,
@CCCount int,
@DSCount int
AS
BEGIN

SET NOCOUNT ON
SET XACT_ABORT ON

IF NOT EXISTS ( SELECT * FROM EventEntryCount  WITH (READUNCOMMITTED) WHERE Account=@Account AND Name=@Name)
BEGIN
	INSERT INTO EventEntryCount (Account,Name) VALUES (@Account,@Name)
END

UPDATE EventEntryCount SET BCCount=@BCCount,CCCount=@CCCount,DSCount=@DSCount WHERE Account=@Account AND Name=@Name

SET NOCOUNT OFF
SET XACT_ABORT OFF

END
GO
/****** Object:  StoredProcedure [dbo].[WZ_SetAccountLevel]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_SetAccountLevel] 
@Account varchar(10),
@AccountLevel int,
@AccountExpireTime int
AS
BEGIN

SET NOCOUNT ON
SET XACT_ABORT ON

DECLARE @CurrentAccountLevel int
DECLARE @CurrentAccountExpireDate smalldatetime

SELECT @CurrentAccountLevel=AccountLevel,@CurrentAccountExpireDate=AccountExpireDate FROM MEMB_INFO WHERE memb___id=@Account

IF(@CurrentAccountLevel = @AccountLevel)
BEGIN
	SET @CurrentAccountLevel = @CurrentAccountLevel

	SET @CurrentAccountExpireDate = DATEADD(second,@AccountExpireTime,@CurrentAccountExpireDate)
END
ELSE
BEGIN
	SET @CurrentAccountLevel = @AccountLevel

	SET @CurrentAccountExpireDate = DATEADD(second,@AccountExpireTime,getdate())
END

UPDATE MEMB_INFO SET AccountLevel=@CurrentAccountLevel,AccountExpireDate=@CurrentAccountExpireDate WHERE memb___id=@Account

SET NOCOUNT OFF
SET XACT_ABORT OFF

END
GO
/****** Object:  StoredProcedure [dbo].[WZ_RenameCharacter]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_RenameCharacter] 
@Account varchar(10),
@OldName varchar(10),
@NewName varchar(10)
AS
BEGIN

SET NOCOUNT ON
SET	XACT_ABORT ON

DECLARE @Result tinyint

SET @Result = 0

If EXISTS ( SELECT Name FROM Character WHERE Name = @NewName )
	begin
		SET @Result	= 0
	end
else
	begin
		SET @Result = 1
		UPDATE Character SET Name = @NewName WHERE Name = @OldName AND AccountID = @Account
		UPDATE AccountCharacter SET GameID1 = @NewName WHERE GameID1 = @OldName AND Id = @Account
		UPDATE AccountCharacter SET GameID2 = @NewName WHERE GameID2 = @OldName AND Id = @Account
		UPDATE AccountCharacter SET GameID3 = @NewName WHERE GameID3 = @OldName AND Id = @Account
		UPDATE AccountCharacter SET GameID4 = @NewName WHERE GameID4 = @OldName AND Id = @Account
		UPDATE AccountCharacter SET GameID5 = @NewName WHERE GameID5 = @OldName AND Id = @Account
		UPDATE AccountCharacter SET GameIDC = @NewName WHERE GameIDC = @OldName AND Id = @Account
		UPDATE Guild SET G_Master = @NewName WHERE G_Master = @OldName
		UPDATE GuildMember SET Name = @NewName WHERE Name = @OldName
		UPDATE OptionData SET Name = @NewName WHERE Name = @OldName
		UPDATE RankingBloodCastle SET Name = @NewName WHERE Name = @OldName
		UPDATE RankingDevilSquare SET Name = @NewName WHERE Name = @OldName
		UPDATE ResetData SET Name = @NewName WHERE Name = @OldName
		UPDATE EventEntryCount SET Name = @NewName WHERE Name = @OldName
	end

SELECT @Result

SET NOCOUNT OFF
SET	XACT_ABORT OFF

END
GO
/****** Object:  StoredProcedure [dbo].[WZ_GuildCreate]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Definition for stored procedure WZ_GuildCreate : 
--

CREATE procedure [dbo].[WZ_GuildCreate]
	@GuildName	varchar(8),
	@MasterName 	varchar(10)
as 
BEGIN
	DECLARE @ErrorCode int

	SET @ErrorCode = 0
	SET XACT_ABORT ON

	Set		nocount on 		
	begin transaction

	-- ??? ????.	
	INSERT	INTO Guild (G_Name, G_Master) VALUES (@GuildName, @MasterName)
	IF ( @@Error  <> 0 )
	BEGIN
		SET @ErrorCode	= 1
	END

       	-- ??? ????? ?? ???
	IF ( @ErrorCode  =  0 )
	BEGIN
		-- ?? ???? ????.
		INSERT GuildMember (Name, G_Name) VALUES (@MasterName, @GuildName)
		IF ( @@Error  <> 0 )
		BEGIN
			SET @ErrorCode	= 2
		END
	END

	IF ( @ErrorCode  <> 0 )
		rollback transaction
	ELSE
		commit transaction

	select @ErrorCode

	Set 	nocount off 
	SET XACT_ABORT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_GetResetInfo]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_GetResetInfo]
@Account varchar(10),
@Name varchar(10)
AS
BEGIN

SET NOCOUNT ON
SET XACT_ABORT ON

DECLARE @Reset int
DECLARE @ResetDay int
DECLARE @ResetWek int
DECLARE @ResetMon int
DECLARE @ResetDateDay smalldatetime
DECLARE @ResetDateWek smalldatetime
DECLARE @ResetDateMon smalldatetime

IF NOT EXISTS ( SELECT * FROM ResetData  WITH (READUNCOMMITTED) WHERE Account=@Account AND Name=@Name)
BEGIN
	INSERT INTO ResetData (Account,Name) VALUES (@Account,@Name)
END

SELECT @Reset=ResetCount FROM Character WHERE AccountID=@Account AND Name=@Name

SELECT @ResetDay=ResetDay,@ResetWek=ResetWek,@ResetMon=ResetMon,@ResetDateDay=ResetDateDay,@ResetDateWek=ResetDateWek,@ResetDateMon=ResetDateMon FROM ResetData WHERE Account=@Account AND Name=@Name

IF(datediff(day,@ResetDateDay,getdate()) > 0)
BEGIN
    SET @ResetDay = 0
 
    UPDATE ResetData SET ResetDay=@ResetDay WHERE Account=@Account AND Name=@Name
END

IF(datediff(week,@ResetDateWek,getdate()) > 0)
BEGIN
    SET @ResetWek = 0
 
    UPDATE ResetData SET ResetWek=@ResetWek WHERE Account=@Account AND Name=@Name
END

IF(datediff(month,@ResetDateMon,getdate()) > 0)
BEGIN
    SET @ResetMon = 0
 
    UPDATE ResetData SET ResetMon=@ResetMon WHERE Account=@Account AND Name=@Name
END

SELECT @Reset AS Reset,@ResetDay AS ResetDay,@ResetWek AS ResetWek,@ResetMon AS ResetMon

SET NOCOUNT OFF
SET XACT_ABORT OFF

END
GO
/****** Object:  StoredProcedure [dbo].[WZ_GetMasterResetInfo]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_GetMasterResetInfo]
@Account varchar(10),
@Name varchar(10)
AS
BEGIN

SET NOCOUNT ON
SET XACT_ABORT ON

DECLARE @MasterReset int
DECLARE @MasterResetDay int
DECLARE @MasterResetWek int
DECLARE @MasterResetMon int
DECLARE @MasterResetDateDay smalldatetime
DECLARE @MasterResetDateWek smalldatetime
DECLARE @MasterResetDateMon smalldatetime

IF NOT EXISTS ( SELECT * FROM ResetData  WITH (READUNCOMMITTED) WHERE Account=@Account AND Name=@Name)
BEGIN
	INSERT INTO ResetData (Account,Name) VALUES (@Account,@Name)
END

SELECT @MasterReset=MasterResetCount FROM Character WHERE AccountID=@Account AND Name=@Name

SELECT @MasterResetDay=MasterResetDay,@MasterResetWek=MasterResetWek,@MasterResetMon=MasterResetMon,@MasterResetDateDay=MasterResetDateDay,@MasterResetDateWek=MasterResetDateWek,@MasterResetDateMon=MasterResetDateMon FROM ResetData WHERE Account=@Account AND Name=@Name

IF(datediff(day,@MasterResetDateDay,getdate()) > 0)
BEGIN
    SET @MasterResetDay = 0
 
    UPDATE ResetData SET MasterResetDay=@MasterResetDay WHERE Account=@Account AND Name=@Name
END

IF(datediff(week,@MasterResetDateWek,getdate()) > 0)
BEGIN
    SET @MasterResetWek = 0
 
    UPDATE ResetData SET MasterResetWek=@MasterResetWek WHERE Account=@Account AND Name=@Name
END

IF(datediff(month,@MasterResetDateMon,getdate()) > 0)
BEGIN
    SET @MasterResetMon = 0
 
    UPDATE ResetData SET MasterResetMon=@MasterResetMon WHERE Account=@Account AND Name=@Name
END

SELECT @MasterReset AS MasterReset,@MasterResetDay AS MasterResetDay,@MasterResetWek AS MasterResetWek,@MasterResetMon AS MasterResetMon

SET NOCOUNT OFF
SET XACT_ABORT OFF

END
GO
/****** Object:  StoredProcedure [dbo].[WZ_GetItemSerial]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Definition for stored procedure WZ_GetItemSerial : 
--

CREATE procedure [dbo].[WZ_GetItemSerial]
as
BEGIN	
	DECLARE @ItemSerial	int
	set nocount on
	begin transaction

		update GameServerInfo set @ItemSerial = ItemCount = ItemCount+1
			
		if ( @@error  <> 0 )
		begin	
			rollback transaction
			select -1
		end 
		else
		begin
			commit transaction				
			select @ItemSerial
		end
END
GO
/****** Object:  StoredProcedure [dbo].[WZ_GetEventEntryInfo]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_GetEventEntryInfo]
@Account varchar(10),
@Name varchar(10)
AS
BEGIN

SET NOCOUNT ON
SET XACT_ABORT ON

DECLARE @BCCount int
DECLARE @CCCount int
DECLARE @DSCount int
DECLARE @LastDate smalldatetime

IF NOT EXISTS ( SELECT * FROM EventEntryCount  WITH (READUNCOMMITTED) WHERE Account=@Account AND Name=@Name)
BEGIN
	INSERT INTO EventEntryCount (Account,Name) VALUES (@Account,@Name)
END

SELECT @BCCount=BCCount,@CCCount=CCCount,@DSCount=DSCount,@LastDate=LastDate FROM EventEntryCount WHERE Account=@Account AND Name=@Name

IF(datediff(day,@LastDate,getdate()) > 0)
BEGIN
    SET @BCCount = 0
    SET @CCCount = 0
    SET @DSCount = 0
    UPDATE EventEntryCount SET BCCount=@BCCount,CCCount=@CCCount,DSCount=@DSCount,LastDate=GETDATE() WHERE Account=@Account AND Name=@Name
END

SELECT @BCCount AS BCCount,@CCCount AS CCCount,@DSCount AS DSCount

SET NOCOUNT OFF
SET XACT_ABORT OFF

END
GO
/****** Object:  StoredProcedure [dbo].[WZ_GetAccountLevel]    Script Date: 04/14/2022 14:07:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[WZ_GetAccountLevel]
@Account varchar(10)
AS
BEGIN
 
SET NOCOUNT ON
SET XACT_ABORT ON
 
DECLARE @CurrentAccountLevel int
DECLARE @CurrentAccountExpireDate smalldatetime
 
SELECT @CurrentAccountLevel=AccountLevel,@CurrentAccountExpireDate=AccountExpireDate FROM MEMB_INFO WHERE memb___id=@Account
 
IF(@CurrentAccountLevel <> 0 AND getdate() > @CurrentAccountExpireDate)
BEGIN
    SET @CurrentAccountLevel = 0
 
    UPDATE MEMB_INFO SET AccountLevel=@CurrentAccountLevel,AccountExpireDate=@CurrentAccountExpireDate WHERE memb___id=@Account
END
 
SELECT @CurrentAccountLevel As AccountLevel,@CurrentAccountExpireDate As AccountExpireDate
 
SET NOCOUNT OFF
SET XACT_ABORT OFF
 
END
GO
/****** Object:  Default [DF__AccountCh__MoveC__7A3223E8]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[AccountCharacter] ADD  CONSTRAINT [DF__AccountCh__MoveC__7A3223E8]  DEFAULT ((0)) FOR [MoveCnt]
GO
/****** Object:  Default [df_AccountCharacter_ExtClass]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[AccountCharacter] ADD  CONSTRAINT [df_AccountCharacter_ExtClass]  DEFAULT ((2)) FOR [ExtClass]
GO
/****** Object:  Default [DF_AccountCharacter_Locked]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[AccountCharacter] ADD  CONSTRAINT [DF_AccountCharacter_Locked]  DEFAULT ((0)) FOR [Locked]
GO
/****** Object:  Default [DF_Character_cLevel]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_cLevel]  DEFAULT ((1)) FOR [cLevel]
GO
/****** Object:  Default [DF_Character_LevelUpPoint]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_LevelUpPoint]  DEFAULT ((0)) FOR [LevelUpPoint]
GO
/****** Object:  Default [DF_Character_Experience]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_Experience]  DEFAULT ((0)) FOR [Experience]
GO
/****** Object:  Default [DF_Character_Money]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_Money]  DEFAULT ((0)) FOR [Money]
GO
/****** Object:  Default [DF_Character_MapDir]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_MapDir]  DEFAULT ((0)) FOR [MapDir]
GO
/****** Object:  Default [DF_Character_PkCount]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_PkCount]  DEFAULT ((0)) FOR [PkCount]
GO
/****** Object:  Default [DF_Character_PkLevel]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_PkLevel]  DEFAULT ((3)) FOR [PkLevel]
GO
/****** Object:  Default [DF_Character_PkTime]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_PkTime]  DEFAULT ((0)) FOR [PkTime]
GO
/****** Object:  Default [DF_Character_CtlCode]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_CtlCode]  DEFAULT ((0)) FOR [CtlCode]
GO
/****** Object:  Default [DF__Character__DbVer__787EE5A0]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF__Character__DbVer__787EE5A0]  DEFAULT ((0)) FOR [DbVersion]
GO
/****** Object:  Default [DF__Character__Quest__797309D9]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF__Character__Quest__797309D9]  DEFAULT ((0)) FOR [Quest]
GO
/****** Object:  Default [DF__Character__ChatL__7B5B524B]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF__Character__ChatL__7B5B524B]  DEFAULT ((0)) FOR [ChatLimitTime]
GO
/****** Object:  Default [DF_Character_FruitPoint]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_FruitPoint]  DEFAULT ((0)) FOR [FruitPoint]
GO
/****** Object:  Default [DF__Character__Fruit__4F67C174]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF__Character__Fruit__4F67C174]  DEFAULT ((0)) FOR [FruitAddPoint]
GO
/****** Object:  Default [DF__Character__Fruit__505BE5AD]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF__Character__Fruit__505BE5AD]  DEFAULT ((0)) FOR [FruitSubPoint]
GO
/****** Object:  Default [DF_Character_ResetCount]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_ResetCount]  DEFAULT ((0)) FOR [ResetCount]
GO
/****** Object:  Default [DF_Character_MasterResetCount]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_MasterResetCount]  DEFAULT ((0)) FOR [MasterResetCount]
GO
/****** Object:  Default [DF_CustomPick_Jewel]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[CustomPick] ADD  CONSTRAINT [DF_CustomPick_Jewel]  DEFAULT ((0)) FOR [Jewel]
GO
/****** Object:  Default [DF_CustomPick_Excellent]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[CustomPick] ADD  CONSTRAINT [DF_CustomPick_Excellent]  DEFAULT ((0)) FOR [ItemExc]
GO
/****** Object:  Default [DF_CustomPick_Set]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[CustomPick] ADD  CONSTRAINT [DF_CustomPick_Set]  DEFAULT ((0)) FOR [ItemSet]
GO
/****** Object:  Default [DF__DefaultCl__Level__72910220]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[DefaultClassType] ADD  CONSTRAINT [DF__DefaultCl__Level__72910220]  DEFAULT ((0)) FOR [Level]
GO
/****** Object:  Default [DF__DefaultCl__Level__73852659]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[DefaultClassType] ADD  CONSTRAINT [DF__DefaultCl__Level__73852659]  DEFAULT ((0)) FOR [LevelUpPoint]
GO
/****** Object:  Default [DF_EventEntryCount_BCCount]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[EventEntryCount] ADD  CONSTRAINT [DF_EventEntryCount_BCCount]  DEFAULT ((0)) FOR [BCCount]
GO
/****** Object:  Default [DF_EventEntryCount_CCCount]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[EventEntryCount] ADD  CONSTRAINT [DF_EventEntryCount_CCCount]  DEFAULT ((0)) FOR [CCCount]
GO
/****** Object:  Default [DF_EventEntryCount_DSCount]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[EventEntryCount] ADD  CONSTRAINT [DF_EventEntryCount_DSCount]  DEFAULT ((0)) FOR [DSCount]
GO
/****** Object:  Default [DF_EventEntryCount_LastDate]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[EventEntryCount] ADD  CONSTRAINT [DF_EventEntryCount_LastDate]  DEFAULT (getdate()) FOR [LastDate]
GO
/****** Object:  Default [DF_EventGoldenArcherCount_RenaCount]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[EventGoldenArcher] ADD  CONSTRAINT [DF_EventGoldenArcherCount_RenaCount]  DEFAULT ((0)) FOR [RenaCount]
GO
/****** Object:  Default [DF_EventGoldenArcherCount_StoneCount]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[EventGoldenArcher] ADD  CONSTRAINT [DF_EventGoldenArcherCount_StoneCount]  DEFAULT ((0)) FOR [StoneCount]
GO
/****** Object:  Default [DF_GameServerInfo_Number]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[GameServerInfo] ADD  CONSTRAINT [DF_GameServerInfo_Number]  DEFAULT ((0)) FOR [Number]
GO
/****** Object:  Default [DF_GameServerInfo_ZenCount]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[GameServerInfo] ADD  CONSTRAINT [DF_GameServerInfo_ZenCount]  DEFAULT ((0)) FOR [ZenCount]
GO
/****** Object:  Default [DF_Guild_G_Score]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Guild] ADD  CONSTRAINT [DF_Guild_G_Score]  DEFAULT ((0)) FOR [G_Score]
GO
/****** Object:  Default [DF__Guild__MemberCou__10566F31]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[Guild] ADD  CONSTRAINT [DF__Guild__MemberCou__10566F31]  DEFAULT ((0)) FOR [MemberCount]
GO
/****** Object:  Default [DF_MEMB_INFO_mail_chek]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[MEMB_INFO] ADD  CONSTRAINT [DF_MEMB_INFO_mail_chek]  DEFAULT ((0)) FOR [mail_chek]
GO
/****** Object:  Default [DF_MEMB_INFO_AccountLevel]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[MEMB_INFO] ADD  CONSTRAINT [DF_MEMB_INFO_AccountLevel]  DEFAULT ((0)) FOR [AccountLevel]
GO
/****** Object:  Default [DF__MEMB_INFO__Accou__66603565]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[MEMB_INFO] ADD  DEFAULT ((0)) FOR [AccountExpireDate]
GO
/****** Object:  Default [DF__MEMB_STAT__Onlin__22751F6C]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[MEMB_STAT] ADD  CONSTRAINT [DF__MEMB_STAT__Onlin__22751F6C]  DEFAULT ((0)) FOR [OnlineHours]
GO
/****** Object:  Default [DF_ResetData_ResetDay]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetData_ResetDay]  DEFAULT ((0)) FOR [ResetDay]
GO
/****** Object:  Default [DF_ResetDate_ResetDay1]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetDate_ResetDay1]  DEFAULT ((0)) FOR [ResetWek]
GO
/****** Object:  Default [DF_ResetDate_ResetDay2]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetDate_ResetDay2]  DEFAULT ((0)) FOR [ResetMon]
GO
/****** Object:  Default [DF_ResetDate_ResetDate]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetDate_ResetDate]  DEFAULT (getdate()) FOR [ResetDateDay]
GO
/****** Object:  Default [DF_ResetDate_ResetDate1]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetDate_ResetDate1]  DEFAULT (getdate()) FOR [ResetDateWek]
GO
/****** Object:  Default [DF_ResetDate_ResetDate2]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetDate_ResetDate2]  DEFAULT (getdate()) FOR [ResetDateMon]
GO
/****** Object:  Default [DF_ResetDate_ResetDay1_1]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetDate_ResetDay1_1]  DEFAULT ((0)) FOR [MasterResetDay]
GO
/****** Object:  Default [DF_ResetDate_ResetWek1]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetDate_ResetWek1]  DEFAULT ((0)) FOR [MasterResetWek]
GO
/****** Object:  Default [DF_ResetDate_ResetMon1]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetDate_ResetMon1]  DEFAULT ((0)) FOR [MasterResetMon]
GO
/****** Object:  Default [DF_ResetDate_ResetDateDay1]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetDate_ResetDateDay1]  DEFAULT (getdate()) FOR [MasterResetDateDay]
GO
/****** Object:  Default [DF_ResetDate_ResetDateWek1]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetDate_ResetDateWek1]  DEFAULT (getdate()) FOR [MasterResetDateWek]
GO
/****** Object:  Default [DF_ResetDate_ResetDateMon1]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[ResetData] ADD  CONSTRAINT [DF_ResetDate_ResetDateMon1]  DEFAULT (getdate()) FOR [MasterResetDateMon]
GO
/****** Object:  Default [DF_warehouse_Money]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[warehouse] ADD  CONSTRAINT [DF_warehouse_Money]  DEFAULT ((0)) FOR [Money]
GO
/****** Object:  Default [DF__warehouse__DbVer__690797E6]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[warehouse] ADD  CONSTRAINT [DF__warehouse__DbVer__690797E6]  DEFAULT ((0)) FOR [DbVersion]
GO
/****** Object:  Default [DF__warehouse__pw__69FBBC1F]    Script Date: 04/14/2022 14:07:04 ******/
ALTER TABLE [dbo].[warehouse] ADD  CONSTRAINT [DF__warehouse__pw__69FBBC1F]  DEFAULT ((0)) FOR [pw]
GO
